apiVersion: v1
kind: Secret

metadata:
  name: backend-secret
  namespace: tech-support

type: Opaque

stringData:
  JWT_SECRET: "${JWT_SECRET}"
  PASSWORD_PEPPER: "${PASSWORD_PEPPER}"
  OIDC_CLIENT_SECRET: "${OIDC_CLIENT_SECRET}"
