apiVersion: v1
kind: Secret

metadata:
  name: keycloak-secret
  namespace: tech-support

type: Opaque

stringData:
  KEYCLOAK_ADMIN: "${KEYCLOAK_ADMIN}"
  KEYCLOAK_ADMIN_PASSWORD: "${KEYCLOAK_ADMIN_PASSWORD}"
